<div class="row">
  <div class="col-xs-12">
    <form #f="ngForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              ngModel
            >
          </div>
          <div class="col-sm-2 form-group">
            <label for="amount">Amount</label>
            <input
              class="form-control"
              id="amount"
              name="amount"
              type="text"
              ngModel
            >
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-success" type="submit">Add</button>
            <button class="btn btn-danger mx-2" type="button">Delete</button>
            <button class="btn btn-primary" type="button">Clear</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
